
fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
python-dotenv

# Auth
passlib[argon2]
python-jose
email-validator

# RAG & NLP
langchain
langchain-community
langchain-experimental
chromadb
sentence-transformers

# PDF + Images
unstructured
unstructured[pdf]
pdf2image
pillow
opencv-python
requests
